
    <ion-content class="has-header trade-container-container" >
        <!-- <div id="trade-button-bar1" class=" button-bar ">
            <button id="trade-button1" class=" button button-positive button-smMax button-block ">Buy</button>
            <button ng-click="go2buy()"id="trade-button2" class=" button button-positive button-smMax button-block ">buy</button>
        </div> -->
        <h4>Buy Cargo</h4>
          <section class="trade-container">
            <section class="inv-buttions-container">
              <button ng-click="buySome('water')" type="button" name="button">{{inventory.water.supply}}</button>
              <button ng-click="buySome('furs')" type="button" name="button">{{inventory.furs.supply}}</button>
              <button ng-click="buySome('food')" type="button" name="button">{{inventory.food.supply}}</button>
              <button ng-click="buySome('ore')" type="button" name="button">{{inventory.ore.supply}}</button>
              <button ng-click="buySome('games')" type="button" name="button">{{inventory.games.supply}} </button>
              <button ng-click="buySome('firearms')" type="button" name="button">{{inventory.firearms.supply}}</button>
              <button ng-click="buySome('medicine')" type="button" name="button">{{inventory.medicine.supply}}</button>
              <button ng-click="buySome('machines')" type="button" name="button">{{inventory.machines.supply}} </button>
              <button ng-click="buySome('narcotics')" type="button" name="button">{{inventory.narcotics.supply}}</button>
              <button ng-click="buySome('robots')" type="button" name="button">{{inventory.robots.supply}}</button>
            </section>
            <section class="trade-names-container">
              {{inventory.water.name}}
              {{inventory.water.name}}
              {{inventory.water.name}}
              {{inventory.water.name}}
              {{inventory.water.name}}
              {{inventory.water.name}}
              {{inventory.water.name}}
              {{inventory.water.name}}
              {{inventory.water.name}}
              {{inventory.water.name}}

            </section>
            <section class="trade-max-container">
              <button ng-click="buyMax('water')"  type="button" name="button">Max</button>
              <button ng-click="buyMax('furs')"  type="button" name="button">Max</button>
              <button ng-click="buyMax('food')"  type="button" name="button">Max</button>
              <button  ng-click="buyMax('ore')" type="button" name="button">Max</button>
              <button ng-click="buyMax('games')"  type="button" name="button">Max</button>
              <button ng-click="buyMax('firearms')"  type="button" name="button">Max</button>
              <button ng-click="buyMax('medicine')"  type="button" name="button">Max</button>
              <button  ng-click="buyMax('machines')" type="button" name="button">Max</button>
              <button  ng-click="buyMax('narcotics')" type="button" name="button">Max</button>
              <button  ng-click="buyMax('robots')" type="button" name="button">Max</button>
            </section>
            <section class="tade-price-container">
              {{commander.currentSystem.buyPrice.water}}
              {{commander.currentSystem.buyPrice.furs}}
              {{commander.currentSystem.buyPrice.food}}
              {{commander.currentSystem.buyPrice.ore}}
              {{commander.currentSystem.buyPrice.games}}
              {{commander.currentSystem.buyPrice.firearms}}
              {{commander.currentSystem.buyPrice.medicine}}
              {{commander.currentSystem.buyPrice.machines}}
              {{commander.currentSystem.buyPrice.narcotics}}
              {{commander.currentSystem.buyPrice.robots}}
            </section>

          </section>

    </ion-content>
