<ion-view title="Space Trader" hide-nav-bar="true" hide-back-button="true" class=" ">
    <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
        <div class="login-container">
          <h4>Login</h4>
          <input class="login-inputfields" ng-model="user.username" type="text" name="user" placeholder="Username" />
          <input  class="login-inputfields" ng-model="user.password" type="password" name="pass" placeholder="Password" />
          <button class="login-button"ng-click="submit(user)"type="button" name="button">submit</button>

        </div>
        <div class="login-container" id="signUp">
          <h4>Sign Up</h4>
          <input class="login-inputfields" ng-model="signup.name" type="text" name="user" placeholder="Username" />
          <input  class="login-inputfields" ng-model="signup.password" type="password" name="pass" placeholder="Password" />
          <input  class="login-inputfields" ng-model="signup.email" type="text" name="email" placeholder="email" />
          <button class="login-button"ng-click="signUp(signup)"type="button" name="button">submit</button>

        </div>


        <button ui-sref="mainMenu" type="button" name="button" class="button-positive">remove before production</button>
    </ion-content>
</ion-view>
