
    <ion-content class="has-header trade-container-container" >
        <!-- <div id="trade-button-bar1" class=" button-bar ">
            <button id="trade-button1" class=" button button-positive button-smAll button-block ">sell</button>
            <button ng-click="go2sell()"id="trade-button2" class=" button button-positive button-smAll button-block ">sell</button>
        </div> -->
        <h4>Sell Cargo</h4>
        <section class="trade-container ">
          <section class="item-container trade-header">
            <section class="inventory column">
              <h6>Tons</h6>
            </section>
            <section class="item-name-container column">
              <h6>Good</h6>
            </section>
            <section class="All-container column">
              <h6>Sell</h6>
            </section>
            <section class="item-price-container column">
              <h6>Price</h6>
            </section>
          </section>
          <section class="trade-container">

            <section class="item-container">
              <section class="inventory column">
                <button ng-click="sellSome('water')" type="button" name="button">{{commander.inventory.water.amount}}</button>

              </section>
              <section class="item-name-container column">
                {{inventory.water.name}}
              </section>
              <section class="All-container column">
                <button ng-click="sellAll('water')"  type="button" name="button">All</button>
              </section>
              <section class="item-price-container column">
                {{commander.currentSystem.sellPrice.water}}
              </section>
            </section>

            <section class="item-container">
              <section class="inventory column">
                <button ng-click="sellSome('furs')" type="button" name="button">{{commander.inventory.furs.amount}}</button>

              </section>
              <section class="item-name-container column">
                {{inventory.furs.name}}
              </section>
              <section class="All-container column">
                <button ng-click="sellAll('furs')"  type="button" name="button">All</button>
              </section>
              <section class="item-price-container column">
                {{commander.currentSystem.sellPrice.furs}}
              </section>
            </section>

            <section class="item-container">
              <section class="inventory column">
                <button ng-click="sellSome('food')" type="button" name="button">{{commander.inventory.food.amount}}</button>

              </section>
              <section class="item-name-container column">
                {{inventory.food.name}}
              </section>
              <section class="All-container column">
                <button ng-click="sellAll('food')"  type="button" name="button">All</button>
              </section>
              <section class="item-price-container column">
                {{commander.currentSystem.sellPrice.food}}
              </section>
            </section>
            <section class="item-container">
              <section class="inventory column">
                <button ng-click="sellSome('ore')" type="button" name="button">{{commander.inventory.ore.amount}}</button>

              </section>
              <section class="item-name-container column">
                {{inventory.ore.name}}
              </section>
              <section class="All-container column">
                <button ng-click="sellAll('ore')"  type="button" name="button">All</button>
              </section>
              <section class="item-price-container column">
                {{commander.currentSystem.sellPrice.ore}}
              </section>
            </section>
            <section class="item-container">
              <section class="inventory column">
                <button ng-click="sellSome('games')" type="button" name="button">{{commander.inventory.games.amount}}</button>

              </section>
              <section class="item-name-container column">
                {{inventory.games.name}}
              </section>
              <section class="All-container column">
                <button ng-click="sellAll('games')"  type="button" name="button">All</button>
              </section>
              <section class="item-price-container column">
                {{commander.currentSystem.sellPrice.games}}
              </section>
            </section>
            <section class="item-container">
              <section class="inventory column">
                <button ng-click="sellSome('firearms')" type="button" name="button">{{commander.inventory.firearms.amount}}</button>

              </section>
              <section class="item-name-container column">
                {{inventory.firearms.name}}
              </section>
              <section class="All-container column">
                <button ng-click="sellAll('firearms')"  type="button" name="button">All</button>
              </section>
              <section class="item-price-container column">
                {{commander.currentSystem.sellPrice.firearms}}
              </section>
            </section>
            <section class="item-container">
              <section class="inventory column">
                <button ng-click="sellSome('medicine')" type="button" name="button">{{commander.inventory.medicine.amount}}</button>

              </section>
              <section class="item-name-container column">
                {{inventory.medicine.name}}
              </section>
              <section class="All-container column">
                <button ng-click="sellAll('medicine')"  type="button" name="button">All</button>
              </section>
              <section class="item-price-container column">
                {{commander.currentSystem.sellPrice.medicine}}
              </section>
            </section>
            <section class="item-container">
              <section class="inventory column">
                <button ng-click="sellSome('machines')" type="button" name="button">{{commander.inventory.machines.amount}}</button>

              </section>
              <section class="item-name-container column">
                {{inventory.machines.name}}
              </section>
              <section class="All-container column">
                <button ng-click="sellAll('machines')"  type="button" name="button">All</button>
              </section>
              <section class="item-price-container column">
                {{commander.currentSystem.sellPrice.machines}}
              </section>
            </section>
            <section class="item-container">
              <section class="inventory column">
                <button ng-click="sellSome('narcotics')" type="button" name="button">{{commander.inventory.narcotics.amount}}</button>

              </section>
              <section class="item-name-container column">
                {{inventory.narcotics.name}}
              </section>
              <section class="All-container column">
                <button ng-click="sellAll('narcotics')"  type="button" name="button">All</button>
              </section>
              <section class="item-price-container column">
                {{commander.currentSystem.sellPrice.narcotics}}
              </section>
            </section>
            <section class="item-container">
              <section class="inventory column">
                <button ng-click="sellSome('robots')" type="button" name="button">{{commander.inventory.robots.amount}}</button>

              </section>
              <section class="item-name-container column">
                {{inventory.robots.name}}
              </section>
              <section class="All-container column">
                <button ng-click="sellAll('robots')"  type="button" name="button">All</button>
              </section>
              <section class="item-price-container column">
                {{commander.currentSystem.sellPrice.robots}}
              </section>
            </section>

          </section>

    </ion-content>
