<ion-view title="System" hide-back-button="true" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="system-markdown7" style="color:#000000;" class=" ">
          <strong>Name</strong>     {{currentSystem.name}}   <br>
          <strong>Size</strong>    {{currentSystem.size}}      <br>
          <strong>Tech Level</strong>   {{currentSystem.tech}}   <br>
          <strong>Government</strong> {{currentSystem.government}}     <br>
          <strong>Resources</strong>  {{resource}}    <br>
          <strong>Police</strong>  {{currentSystem.police}}    <br>
          <strong>Pirates</strong>  {{currentSystem.pirates}}    <br>
            <br>
          <button ng-click="news()" type="button" name="button">News</button>
          <button ng-show="specialShow" ng-click="seeQuest()" type="button" name="button">Special</button>
          <button ng-show="mercShow"type="button" name="button">Mercenary for hire</button>

        </p>
        <p>
          {{currentSystem.pressure}}
        </p>

    </ion-content>
</ion-view>
