<ion-view title="System" hide-back-button="true" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="system-markdown7" style="color:#000000;" class=" ">
          <strong>Name</strong>     {{currentSystem.name}}   <br>
          <strong>Size</strong>    {{currentSystem.size}}      <br>
          <strong>Tech Level</strong>   {{currentSystem.tech}}   <br>
          <strong>Government</strong> {{currentSystem.government}}     <br>
          <strong>Resources</strong>  {{resource}}    <br>
          <strong>Police</strong>  {{currentSystem.police}}    <br>
          <strong>Pirates</strong>  {{currentSystem.pirates}}    <br>
            <br>
          <button ng-click="news()" type="button" name="button">News</button>
          <button ng-show="specialShow" ng-click="seeQuest()" type="button" name="button">Special</button>
          <button ng-show="mercShow"type="button" name="button">Mercenary for hire</button>

        </p>
        <p>
          {{currentSystem.pressure}}
        </p>

    </ion-content>
</ion-view>


<script id="encounter-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Encounter</h1>
    </ion-header-bar>
    <ion-content class="encounter-container">

    <section class="encounter-img-container">
      <section>
        <img ng-src="img/{{commander.ship.name}}.png" alt="" />
        <p>
          <b>{{commander.ship.name}}</b><br>
          hull : {{commander.ship.hull}}
          sheilds: {{commander.ship.sheild}}
        </p>
      </section>

      <section class="ecounter-npc-container">
        <img ng-src="img/{{encounter.ship}}-left.png" alt="" />
        <p>
          <b>{{commander.ship.name}}</b><br>
          hull : {{encounter.ship.hull}}
          sheilds: {{encounter.ship.sheild}}
        </p>
      </section>

    </section>
        <section class="encounter-text-container">
          <p>
            You encounter a {{encounter.class}} {{encounter.ship}} {{encounter.clicks}} clicks away from {{currentSystem.name}}
          </p>
          <p>
            {{npc.action}}
          </p>
        </section>
    <button ng-click="cheat()" style="width: 90%; margin: 8px;"class="button button-positive">cheat!</button>
    </ion-content>
  </ion-modal-view>
</script>
