<ion-view title="Target System" hide-back-button="true" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="targetSystem-markdown10" style="color:#000000;" class=" ">
            <strong>Name</strong>     {{targetSystem.name}}   <br>
            <strong>Size</strong>    {{targetSystem.size}}      <br>
            <strong>Tech Level</strong>   {{targetSystem.tech}}   <br>
            <strong>Government</strong> {{targetSystem.government}}     <br>
            <strong>Distance</strong>  {{distance}}    <br>
            <strong>Police</strong>  {{targetSystem.police}}    <br>
            <strong>Pirates</strong>  {{targetSystem.pirates}}    <br>
            <strong>Current Costs</strong> {{commander.difficulty}} cr
        </p>
        <button id="left"ng-click="back()" type="button" name="button"><</button> <button id="right"ng-click="forward()"type="button" name="button">></button>
         <h5>projected prices differences on {{targetSystem.name}}</h5>
        <section class="price-container">
          <section class="left-price">
            water: {{price.water}} <br>
            furs: {{price.furs}} <br>
            food: {{price.food}}<br>
            ore: {{price.ore}}<br>
            games: {{price.games}}<br>
          </section>
          <section class="right-price">
            firearms: {{price.firearms}}<br>
            medicine: {{price.medicine}}<br>
            machines: {{price.machines}}<br>
            narcotics: {{price.narcotics}}<br>
            robots: {{price.robots}}<br>
          </section>
        </section>
        <button id="warpButton"ng-click="warp(system)"type="button" name="button" class="button-positive">warp</button> <br>
        <!-- water: {{price.water}}    firearms: {{price.firearms}} <br>
        furs: {{price.furs}}      medicine: {{price.medicine}} <br>
        food: {{price.food}}    machines: {{price.machines}} <br>
        ore: {{price.ore}}      narcotics: {{price.narcotics}} <br>
        games: {{price.games}}    robots: {{price.robots}} <br> -->
    </ion-content>
</ion-view>
