<ion-view title="Trade" hide-back-button="true" class=" ">
  <section>
    <button ui-sref='buy' id="trade-button1" class=" button button-positive button-small button-block ">Buy</button>
    <button ui-sref='sell' id="trade-button2" class=" button button-positive button-small button-block ">Sell</button>
    Bays: {{commander.ship.cargobays.filled}}/{{commander.ship.cargobays.total}} ------------------- Credits: {{commander.credits}}
  </section>
      <ion-nav-view ></ion-nav-view>


</ion-view>
