<ion-view title="Trade" hide-back-button="true" class=" ">
  <section class="trade-button-container">
    <button ui-sref='buy' id="trade-buy" class=" trade-buysell button button-positive button-small  ">Buy</button>
    <button ui-sref='sell' id="trade-sell" class=" trade-buysell button button-positive button-small ">Sell</button>
    <section class="trade-text-container">
      Bays: {{commander.ship.cargobays.filled}}/{{commander.ship.cargobays.total}} ------------------- Credits: {{commander.credits}}
    </section>
  </section>
      <ion-nav-view ></ion-nav-view>


</ion-view>
