/* Empty. Add your own CSS if you like */
#toTheRight {
  position: absolute;
  right: 15px;
  top: 3px;
}

#warpButton{
  position: absolute;
  right: 15px;
  bottom: -213px;
  height: 20vh;
  width: 132px;
}

#left {
  position: absolute;
  right: 67px;
  top: 15px;
}

#right {
  position: absolute;
  right: 15px;
  top: 15px;
}

.left-price{
  position: absolute;
  left: 60px;

}

.right-price{
  position: absolute;
  right: 80px;
}

.trade-container{
  display: flex;
  align-items: flex-start;
}
.inv-buttons-container{
  flex-direction: column;

}
.trade-names-contianer{
  flex-direction: column;

}
.trade-price-container{
  flex-direction: column;

}


button {
  background: #f4f4f4;
}

.trade-button-container{
  margin-top: 50px;
}

.trade-buysell{
width: 49%;
float: left;
}

.trade-text-container{
  clear: both;
}

.login-container{
  color: white;
  text-align: center;
  background: #387ef5;
  border-radius: 5px;
  margin: 22px;
  height: 25vh;
}
.login-container h4 {
  color: white;
}

#signUp{
  height: 30vh;
}

.login-inputfields{
  margin: 5px;
  width: 90%;
  background: aliceblue;
  border-radius: 5px;
}

.login-button{
  margin: 15px;
  border-radius: 5px;
  border: transparent;
}
